<div class='login-back'>
<h2 class="login-head">Login Form</h2>


  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" ng-model="user.username" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ng-model="user.password" required>
        
    <button type="submit" ng-click="login(user)" style="margin-left:8%">Login</button>
  </div>
</div>