<div class='inner-contact'>
    <div class='contact-header'>Contact Us</div>
    <div class='office-header'><u>Office</u></div>
    <div class='office-content'>No: T247, T6 Main Road, 
        Sidco Women Industrial Estate, 
        Kattur Village, Thirumullaivoyal, 
        Chennai - 600 062.</div>
    <div class='office-header'><u>Phone Number</u></div>
    <div class='office-content'>9444123161, 8825779500, 
        8428304926.</div>
    <div class='office-header'><u>Email ID</u></div>
    <div class='office-content'>rajpack@rocketmail.com, vkdevadoss@gmail.com</div>
</div>