<img class="rj-logo" src="../../assets/images/rajpack-dev.png"/>
<div class="rj-contact">
      <div class="rj-contact-content">
             <b><u>Office:</u></b> <i>No: T247, T6 Main Road, <br>
             Sidco Women Industrial Estate, <br>
             Kattur Village, Thirumullaivoyal, <br>
          Chennai - 600 062.</i><br>
            <b><u>Contact No:</u></b> <i>9444123161, 8825779500, <br>
                   8428304926.</i>
            
      </div>
</div>
<div class="rj-cont">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner rj-corousel">
            <div class="item active">
              <img src="assets/images/printed1.jpg" alt="Los Angeles" style="width:100%;height:400px">
            </div>
      
            <div class="item">
              <img src="assets/images/printed2.jpg" alt="Chicago" style="width:100%;height:400px">
            </div>
          
            <div class="item">
              <img src="assets/images/box1.jpg" alt="New york" style="width:100%;height:400px">
            </div>

            <div class="item">
                <img src="assets/images/box2.jpg" alt="New york" style="width:100%;height:400px">
            </div>

            <div class="item">
                <img src="assets/images/box3.jpg" alt="New york" style="width:100%;height:400px">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="rj-about" id="about">
          <h3>About Us:</h3>
          <br>
           <p> We have great pleasure to introduce ourselves as one of the leading Manufacturer of corrugated boxes, printed cartons,
               <br> partitions, export carton boxes, rolls, and liners for the past 10 years. </p>
               <br>
            <p>A family enterprises well Managed by qualified Members. Latest Machines equipped can make wide range Production with quality. Quality inspection from the stage of raw materials input to deliver the materials. Quality and customer satisfaction is our main goal.</p> 
            <br>
           <p>Marketing Executives will maintain direct contact with the customers for procuring orders and prompt execution of the same. Further they also attend after sales and sort out any problem faced by the customers regarding supplies.</p>
           <br>
           <p>Without cost effective management, we are able to generate enough funds for running our business. Our assurance of quality, prompt delivery and will stand us in good stead and from the basis of further growth and expansion of our business.
           <br> We herewith have given below some of our reliable customers like you for your kind consideration</p>
      </div>
      <div class ="rj-about">
          <h2>Machinery:</h2>
          <br>
          <ul>
                <li>Cutting machine - Automatic </li><br><br>
                <li>Pasting machine (Size: up to 85 inches) </li><br><br>
                <li>Greasing machine (Size: 90”)</li><br><br>
                <li>Slotting machine</li><br><br>
                <li>Punching machine</li><br><br>
                <li>Normal Stitching machine</li><br><br>
                <li>Heavy duty stitching machine</li><br><br>
                <li>RS4 with Single colour  Printing</li>
                
          </ul>
      </div>
      <div class ="rj-about">
            <h2>Customers:</h2>
            <br>
            <ul>
                  <li>Cotton Home,
                        Chennai – 600 028.
                         </li><br><br>
                  <li>Uma & company,
                        Chennai – 600 001.
                         </li><br><br>
                  <li>The Lamp Shade,
                        Chennai – 600 028.
                        </li><br><br>
                  <li>Fujitec India ltd</li><br><br>
                  <li>Mahindra World City,
                        Chennai
                        </li><br><br>
                  <li>Teja Industries,
                        Urappakkam, 
                        Chennai
                  </li><br><br>
                  <li>Hindustan Motors Ltd,
                        Chennai
                        </li><br><br>
                  <li>Frieght Systems India (P) Ltd,
                        Chennai
                        </li><br><br>
                  <li>Packways International (Madras),
                        Chennai
                        </li><br><br>
                  <li>
                        Karadi Tales Company Pvt Ltd,
                        Adyar                        
                  </li>
                  
            </ul>
        </div>