<section class="home-content">
<img class="rj-logo" src="../../assets/images/rajpack-dev.png"/>
<div class="rj-contact">
      <div class="rj-contact-content">
             <b><u>Office:</u></b> <i>No: T247, T6 Main Road, <br>
             Sidco Women Industrial Estate, <br>
             Kattur Village, Thirumullaivoyal, <br>
          Chennai - 600 062.</i><br>
            <b><u>Contact No:</u></b> <i>9444123161, 8825779500, <br>
                   8428304926.</i>
            
      </div>
</div>
<div class="rj-cont">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner rj-corousel">
            <div class="item active">
              <img src="assets/images/printed1.jpg" alt="Los Angeles" style="width:100%;height:600px">
            </div>
      
            <div class="item">
              <img src="assets/images/printed2.jpg" alt="Chicago" style="width:100%;height:600px">
            </div>
          
            <div class="item">
              <img src="assets/images/box1.jpg" alt="New york" style="width:100%;height:600px">
            </div>

            <div class="item">
                <img src="assets/images/box2.jpg" alt="New york" style="width:100%;height:600px">
            </div>

            <div class="item">
                <img src="assets/images/box3.jpg" alt="New york" style="width:100%;height:600px">
            </div>
          </div>
        </div>
      </div>
      <div class="rj-containers">
      <div class="rj-about-show" ng-click="showAbout()">ABOUT US</div>
      <div class="rj-machinery-show" ng-click="showMachinery()">MACHINERY</div>
      <div class="rj-customer-show" ng-click="showCustomer()">CUSTOMERS</div>
    </div>
      <div ng-hide="false" class="rj-about" id="about">
          <h3>About Us:</h3>
          <br>
           <p ng-repeat-start = "aboutus in rajpack.aboutus"> {{aboutus}} <p ng-repeat-end/>
      </div>
      <div ng-hide="false" class ="rj-about" id="machinery">
          <h2>Machinery:</h2>
          <br>
          <ul>
                <li ng-repeat-start="machinery in rajpack.machinery"> {{machinery}} </li><br><br ng-repeat-end/>
                
          </ul>
      </div>
      <div ng-hide="false" class ="rj-about" id="customer">
            <h2>Customers:</h2>
            <br>
            <ul>
                  <li ng-repeat-start="customer in rajpack.customers">{{customer}}</li><br><br ng-repeat-end />
            </ul>
      </div>
    </section>